// Color Scheme

// First Color Scheme
$White: #FFF;
$Isabelline: #EEEDED;
$Spanish-gray:#989797;

// Second Color Scheme
$Coral: #FA824C;
$Buff: #F1DD7B;
$Vanilla: #F5E7A1;

// Third Color Scheme
$Flame: #E4572E;
$light-red-ochre: #E87554;
$Pastel-pink: #F2B2A0;

// Fourth Color Scheme
$Shiny-shamrock: #4CA866;
$Turquoise-green: #9DCFAB;
$Pastel-gray: #BDDFC7;

// Five Color Scheme
$Blue-de-france: #3C91E6;
$Blue-jeans: #5FA5EA;
$Jordy-blue: #82B9EF;

// Six Color Scheme
$Black: #000000;
$Outer-space: #454545;
$Quick-silver: #A2A2A2;

// Tipography

//Font Family
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;


// Font Weight
$light: 300;
$regular: 400;

// Font Sizes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
